package components

templ Index() {
	@Base("Compare", "Desc") {
		<div class="flex w-full h-full justify-center items-center">
			<h1 class="text-white text-3xl">Nothing here on the homescreen</h1>
		</div>
	}
}
