@tailwind components;
@tailwind utilities;
@tailwind base;

@layer base {
    body {
        @apply w-screen;
        @apply bg-gray-700;
    }
}

.htmx-indicator {
    opacity: 0;
    transition: opacity 500ms ease-in;
    -webkit-animation: pulsate 3s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.5;
}

@-webkit-keyframes pulsate {
    0% {
        opacity: 0.5;
    }

    50% {
        opacity: 1.0;
    }

    100% {
        opacity: 0.5;
    }
}

.htmx-request .htmx-indicator {
    opacity: 1
}

.htmx-request.htmx-indicator {
    opacity: 1
}
